{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <label for="symbol">Symbol</label>
            <select class="form-control" id="symbol" name="symbol">
                <option value="">SELECT STOCK</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.name }} ({{ stock.symbol }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="shares">Shares</label>
            <input class="form-control" id="shares" name="shares" placeholder="# of shares" type="number">
            </input>
        </div>
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}